.add-folder-trigger {
  margin-left: -2rem;
}

.add-folder {
  margin: 0.75rem 0 0 -2.5rem;
  border: 1px solid black;
  padding: 0.5rem;
  display: inline-flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;

  ::ng-deep {
    aft-icon-folder {
      svg {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  ::ng-deep {
    aft-icon-check,
    aft-icon-times {
      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }


}
