<ng-container *ngIf="folder">
  <li [class.nested-item]="!rootItem">
    <div class="content">
      <span class="name">{{ folder.name }}</span>
      <div class="controls">
        <button class="icon-btn btn" (click)="addItemType()">
          <aft-icon-plus></aft-icon-plus>
          <span class="sr-only">Add item</span>
        </button>
        <button class="icon-btn btn" (click)="removeItem()">
          <aft-icon-trash></aft-icon-trash>
          <span class="sr-only">Remove folder</span>
        </button>
      </div>
    </div>
  </li>
  <div class="set-item-type" *ngIf="showItemType">
    <button (click)="setTypeFile()">File</button>
    <button (click)="setTypeFolder()">Folder</button>
  </div>
  <div class="set-item-name" *ngIf="showItemName">
    <form (ngSubmit)="submitItem($event)">
      <div class="add-folder">
        <aft-icon-folder></aft-icon-folder>
        <input [formControl]="newItemName" type="text">
        <button type="submit" [disabled]="!newItemName.valid" class="icon-btn btn">
          <aft-icon-check></aft-icon-check>
          <span class="sr-only">Add file</span>
        </button>
        <button type="button" (click)="closeAddItem()" class="alt icon-btn btn">
          <aft-icon-times></aft-icon-times>
          <span class="sr-only">Cancel Adding</span>
        </button>
      </div>
    </form>
  </div>
  <aft-file-list [nodes]="folder.children"></aft-file-list>
</ng-container>
